body {
  background-color: var(--background, --default-background);
  color: var(--foreground, --default-foreground);
}

header {
  background-color: var(--non-specific-background, --default-background);
}

footer {
  background-color: var(--non-specific-background, --default-background);
}

#skip-to-content {
  background-color: var(--background, --default-background);
  color: var(--accent-color, --default-accent-color);
}

a {
  color: var(--foreground, --default-foreground);
}

a:hover,
a:focus {
  color: var(--foreground, --default-foreground);
  background-color: var(--accent-color, --default-accent-color);
}

::selection {
  background-color: var(--accent-color, --default-accent-color);
}
