#github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

#github-corner svg {
  fill: var(--foreground);
  color: var(--background);
  height: 5rem;
  width: 5rem;
}

#github-corner:hover .octo-arm {
  animation: octocat-wave 0.56s ease-in-out;
}

@keyframes octocat-wave {
  0%,
  to {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
