@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(25, 200, 200);
  margin: 0;
  font-family: "Libre Baskerville", serif;
  line-height: 2;
  font-weight: normal;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: rgb(200, 200, 200);
  margin-bottom: 10vh;
  padding: 0.5em;
}

footer {
  background-color: rgb(100, 100, 100);
  margin-top: 2em;
}

main {
  max-width: 60ch;
  margin-inline: auto;
  padding: 1em 5ch;
}

#skip_to_content {
  position: absolute;
  background-color: black;
  transform: translateX(-1000%);
}

#skip_to_content:focus {
  transform: translateX(0);
}

nav {
  justify-items: end;
  justify-self: end;
  width: 30%;
}

.horizontal_one_line {
  display: grid;
  grid-template-rows: auto;
  grid-auto-flow: column;
  padding-inline: 2rem;
}

footer p {
  text-align: center;
  margin-block: 0;
  font-size: 0.8rem;
}

#main-icon {
  display: block;
  margin-inline: auto;
  border-radius: 100%;
  border: thick solid darkblue;
  margin-bottom: 2rem;
}

#introduction > h1 {
  text-align: center;
  font-size: 2rem;
}

#introduction > h3 {
  text-align: center;
  font-style: italic;
  font-weight: thin;
  margin-bottom: 1em;
}

#call_to_action > h3 {
  text-align: center;
  font-style: italic;
  font-weight: thin;
}

#call_to_action > button {
  display: flex;
  margin-inline: auto;
  font-family: "Roboto", sans-serif;
}

h2 {
  margin-block: 1.3em;
}

header > h2 {
  margin-block: 0;
  text-align: center;
}
